{% extends "base.html" %}
{% block content %}
<img src="static/home1.jpg" style="  position: absolute; left:30.90%;  top:37.56%;  width:34.78%;  aspect-ratio:1.411; ">
<div  style="  position: absolute;  left:0%;  top:0%;  width:100.0%; z-index:-10; height:100%; background-color:rgba(247, 220, 103, 0.4);"></div> 
<h1  style="  position: absolute;  left:35.53%;  top:8.89%;  width:40.25%;  font-size: 4.25vw;  height:24.32%; color:#222222">Get Your Book</h1> 
<div  style="  position: absolute;  left:30.53%;  top:28.89%;  width:50.25%;  font-size: 1.25vw;  height:24.32%; color:#222222">
Oops, landed in the wrong page! Use the menu above to navigate to required page!
</div> 

{%endblock%}