{% extends "base.html" %}
{% block content %}
<h2>Search Library</h2>
<form action="/searchlib" method="POST" >
  <label  style="  position: absolute; color:black; left:25%;  top:21%;  width:12.0%;  font-size: auto;  aspect-ratio:18.84; ">Name or location</label> 
  <input required style="  position: absolute; color:black; left:35%;  top:21%;  width:12.0%;  font-size: 1vw;  aspect-ratio:18.84; " name="i">

<button type="submit" style="position: absolute; left:50%; top:21%; width:5.0%; height:4.0%; background-color:#ccc; color:black;">Search</button>
</form>
<div style="position: absolute; left:25%; top:30%; height: 60vh; width:70vw; overflow-y: auto; ">
  <table style="border:1px solid #ccc; border-collapse: collapse;">
    <tr><th>Name</th><th>Address</th><th>Location</th><th>View More</th></tr>
    {% for a in libs %}
    <tr>
        <td>{{a.name}}</td>
        <td>{{a.address}}</td>
        <td>{{a.location}}</td>
        <td><button onclick="window.location.href='/library/{{ a.lib_id }}';" >{{a.lib_id}}</button>
        </td>
    </tr>
    {%endfor%}
  </table>
</div>
 {% endblock %}